
<div class="div-container">

  <!-- Use double curly braces {{ }} to bind data from the component to this html file
  Any changes to these variables in .ts file will be reflected here in the .html file -->
  <p>Current weather for {{location}}</p>

  <!-- Loading -->
  <div *ngIf="load">Loading...</div>

  <!-- Angular's '*ngIf' will show the nested content if the weather variable has data
  If there's no data, it will not show the nested content -->
  <div *ngIf="weather">
    <!-- Display weather data from API here -->
    <p>Location City: {{city}}</p>
    <p>Temperature(Farenheit): {{temperature}}</p>
    <p>Conditions: {{conditions}}</p>
    <img id = 'icon' src = {{weatherIcon}}>
    <p>Last Updated: {{lastUpt}}</p>
  </div>

  <!-- If API does not return any data -->
  <ng-template #elseBlock>
    <p>No weather data found</p>
  </ng-template>

  <!-- Will show error message if error is thrown -->
  <div *ngIf="problem">
    <p>ERROR: {{code}}</p>
  </div>

  <!-- Angular form group -->
  <form [formGroup]="form">
    <div class="form-container">
      <input formControlName="location" class="location-input" type="text" placeholder="Enter city or zipcode">
      <button (click)="getWeather()">Get Weather</button>
    </div>
  </form>

</div>
