/* You can add global styles to this file, and also import other style files */
html {
  background-color: #d8d8e8 !important;
}

.div-container {
  margin: 2rem;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 1rem;
}
